<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ourdealionic169192" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ourdeal-ionic</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <!-- Urban Airship app credentials -->
  <preference name="com.urbanairship.production_app_key" value="Your Production App Key" />
  <preference name="com.urbanairship.production_app_secret" value="Your Production App Secret" />
  <preference name="com.urbanairship.development_app_key" value="Your Development App Key" />
  <preference name="com.urbanairship.development_app_secret" value="Your Development App Secret" />
  
  <!-- Required for Android. -->
  <preference name="com.urbanairship.gcm_sender" value="1066321064030" />
  
  <!-- If the app is in production or not -->
  <preference name="com.urbanairship.in_production" value="false" />
  
  <!-- Optional config values -->
  
  <!-- Enable push when the application launches -->
  <preference name="com.urbanairship.enable_push_onlaunch" value="true" />
  
  <!-- Override the Android notification icon -->
  <preference name="com.urbanairship.notification_icon" value="ic_notification" />
  
  <!-- Specify the notification accent color for Android API 21+ (Lollipop) -->
  <preference name="com.urbanairship.notification_accent_color" value="#0000ff" />
</widget>